<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../scss/index.scss" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="header">Show the exact time by region</h1>
    <div class="container auto-grid">
      <div class="card-box">
        <h4 id="1">Romania</h4>
      </div>
      <div class="card-box">
        <h4 id="2">England</h4>
      </div>
      <div class="card-box">
        <h4 id="3">Sweden</h4>
      </div>
    </div>
  </body>
  <script src="../JS/index.js"></script>
</html>
